section {
  margin-top: 3rem;
}

.title {
  text-align: center;
}

.content {
  display: grid;
  margin-top: 2rem;
}

.button-area {
  width: 100%;
}

.nova-tarefa-button {
  float: right;
  margin-right: 1.3rem;
}

.prioridade-alta {
  color: red;
}

.prioridade-media {
  color: orange;
}

.prioridade-baixa {
  color: green;
}

.board {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.column {
  background: #74ade9;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
}

.card {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: move;
}
