.cadastro {
  margin-top: 10rem;
}

.container {
  max-width: 26rem;
  margin-top: 4rem;
}

.titulo {
  text-align: center;
}

.subtitulo {
  text-align: center;
}

.cadastro-button {
  float: right;
}

b {
  color: red;
}
